{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ 'title.auth_login'|trans }}</h1>

    {% if error is defined and error|length %}
        {% include 'default/_single_alert_message.html.twig' with {
            is_single_message: true,
            is_dismissible: false,
            type: 'danger',
            message: error,
        } %}
    {% endif %}
    <div>
        {{ form_start(form, { method: 'post', action: path('auth_login_check') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.login'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    </div>
{% endblock %}