{% extends "adminlayout.html.twig" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'adminparking.id'|trans }}</th>
            <th>{{ 'adminparking.nazwa'|trans }}</th>
            <th>{{ 'adminparking.liczba_miejsc'|trans }}</th>
            <th>{{ 'adminparking.cena'|trans }}</th>
            <th>{{ 'adminparking.firma_nazwa'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for wiersz in paginator.data %}
            <tr>
                <td>{{ wiersz.ID_parking }}</td>
                <td>{{ wiersz.parking_nazwa }}</td>
                <td>{{ wiersz.liczba_miejsc }}</td>
                <td>{{ wiersz.kwota_godzina }}</td>
                <td>{{ wiersz.firma_nazwa }}</td>
                <td align="center">
                    <a href="{{ url('adminparkingusun', {'id': wiersz.ID_parking})}}" class="btn btn-danger" onclick="return confirm('{{ 'potwierdzenie'|trans }}')"><em class="glyphicon glyphicon-trash"></em></a>
                    <a href="{{ url('adminparkingedytuj', {'id': wiersz.ID_parking}) }}" class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button><a href={{ url('adminparkingdodaj') }}>{{ 'adminparking.dodaj'|trans }}</a></button>
    <br>
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'adminparkingpaginated',
    } %}

{% endblock %}
