{% extends "adminlayout.html.twig" %}

{% block content %}

    {{ form_start(form, { method: 'post', action: url('adminparkingdodaj') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'pracownik.button'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}

{% endblock %}
