{% extends "adminlayout.html.twig" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'adminwjazd.id'|trans }}</th>
            <th>{{ 'adminwjazd.nr_biletu'|trans }}</th>
            <th>{{ 'adminwjazd.parking'|trans }}</th>
            <th>{{ 'adminwjazd.koszt'|trans }}</th>
            <th>{{ 'adminwjazd.czas_wjazdu'|trans }}</th>
            <th>{{ 'adminwjazd.czas_wyjazdu'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for wiersz in paginator.data %}
            <tr>
                <td>{{ wiersz.ID_wjazd }}</td>
                <td>{{ wiersz.nr_biletu }}</td>
                <td>{{ wiersz.parking }}</td>
                <td>{{ wiersz.koszt }}</td>
                <td>{{ wiersz.czas_wjazdu }}</td>
                <td>{{ wiersz.czas_wyjazdu }}</td>
                <td align="center">
                    <a href="{{ url('adminwjazdusun', {'id': wiersz.ID_wjazd})}}" class="btn btn-danger" onclick="return confirm('{{ 'potwierdzenie'|trans }}')"><em class="glyphicon glyphicon-trash"></em></a>
                    <a href="{{ url('adminwjazdedytuj', {'id': wiersz.ID_wjazd}) }}" class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'adminwjazdpaginated',
    } %}
{% endblock %}
