{% extends "adminlayout.html.twig" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'adminfirma.id'|trans }}</th>
            <th>{{ 'adminfirma.nazwa'|trans }}</th>
            <th>{{ 'adminfirma.email'|trans }}</th>
            <th>{{ 'adminfirma.nip'|trans }}</th>
            <th>{{ 'adminfirma.miasto'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for wiersz in paginator.data %}
            <tr>
                <td>{{ wiersz.ID_firma }}</td>
                <td>{{ wiersz.nazwa }}</td>
                <td>{{ wiersz.email }}</td>
                <td>{{ wiersz.nip }}</td>
                <td>{{ wiersz.miasto }}</td>
                <td align="center">
                    <a href="{{ url('adminfirmausun', {'id': wiersz.ID_firma})}}" class="btn btn-danger" onclick="return confirm('{{ 'potwierdzenie'|trans }}')"><em class="glyphicon glyphicon-trash"></em></a>
                    <a href="{{ url('adminfirmaedytuj', {'id': wiersz.ID_firma}) }}" class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button><a href={{ url('adminfirmadodaj') }}>{{ 'adminfirma.dodaj'|trans }}</a></button>
    <br>
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'adminfirmapaginated',
    } %}

{% endblock %}
