{% extends "adminlayout.html.twig" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'adminpracownik.id'|trans }}</th>
            <th>{{ 'adminpracownik.login'|trans }}</th>
            <th>{{ 'adminpracownik.imie'|trans }}</th>
            <th>{{ 'adminpracownik.nazwisko'|trans }}</th>
            <th>{{ 'adminpracownik.email'|trans }}</th>
            <th>{{ 'adminpracownik.firma'|trans }}</th>
            <th>{{ 'adminpracownik.rola'|trans }}</th>
            <th>{{ 'adminpracownik.parking'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for wiersz in paginator.data %}
            <tr>
                <td>{{ wiersz.ID_pracownik }}</td>
                <td>{{ wiersz.login }}</td>
                <td>{{ wiersz.imie }}</td>
                <td>{{ wiersz.nazwisko }}</td>
                <td>{{ wiersz.email }}</td>
                <td>{{ wiersz.firma_nazwa }}</td>
                <td>{{ wiersz.rola_nazwa }}</td>
                <td>{{ wiersz.parking_nazwa }}</td>
                <td align="center">
                    <a href="{{ url('adminpracownikusun', {'id': wiersz.ID_pracownik})}}" class="btn btn-danger" onclick="return confirm('{{ 'potwierdzenie'|trans }}')"><em class="glyphicon glyphicon-trash"></em></a>
                    <a href="{{ url('adminpracownikedytuj', {'id': wiersz.ID_pracownik}) }}" class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button><a href={{ url('adminpracownikdodaj') }}>{{ 'adminpracownik.dodaj'|trans }}</a></button>
    <br>
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'adminpracownikpaginated',
    } %}

{% endblock %}
