{% extends "layout.html.twig" %}

{% block content %}
    {{ 'wyjazd.pozegnanie'|trans }}<br>

    {{ form_start(form, { method: 'post', action: url('wyjazd', {'id': id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'pracownik.button'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}
