{% extends "layout.html.twig" %}

{% block content %}
    {{ 'zaplac.kwota'|trans }}
    <h1>{{ koszt }}</h1><br>
    <button><a href="{{ url('wyjazd', {'id': id }) }}">{{ 'zaplac.wyjazd'|trans }}</a></button>
{% endblock %}
