{% extends "layout.html.twig" %}

{% block content %}
    {{ 'kod.kod'|trans }}
    <h1>{{ kod }}</h1><br>
    <button><a href="{{ url('wjazd', {'id': id }) }}">{{ 'kod.wjazdu'|trans }}</a></button>
{% endblock %}
