{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ 'parking.wybor'|trans }}</h1>

    {% for wiersz in dane %}
        <h2>{{ wiersz.parking_nazwa }}</h2>
        <button><a href="{{ url('wjazd', {'id': wiersz.ID_parking})}}">{{ 'parking.wjazd'|trans }}</a></button>
        <button><a href="{{ url('wyjazd', {'id': wiersz.ID_parking})}}">{{ 'parking.wyjazd'|trans }}</a></button>
    {% endfor %}
{% endblock %}
