<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title 'Parking' %} - System parkingowy</title>
    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('adminpanel') }}">{{ 'panel.stronaglowna'|trans }}</a></li>
            <li><a href="{{ url('adminwjazd') }}">{{ 'panel.wjazdy'|trans }}</a></li>
            {% if is_granted('ROLE_FIRMA') %}
                <li><a href="{{ url('adminparking') }}">{{ 'panel.parkingi'|trans }}</a></li>
                <li><a href="{{ url('adminpracownik') }}">{{ 'panel.pracownicy'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ url('adminfirma') }}">{{ 'panel.firmy'|trans }}</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {# dla zalogowanego #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href={{ url('adminzalogowany') }}><span class="glyphicon glyphicon-user"></span>{{ "  " ~ app.user.username}}</a></li>
                <li><a href={{ url('auth_logout')}}><span class="glyphicon glyphicon-log-out"></span></a></li>
            {% else %}
                <li><a href={{ url('auth_login')}}><span class="glyphicon glyphicon-log-in"></span></a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% include 'default/_flash_messages.html.twig' %}
{% block content %}{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>